.profile {
  display: block;
  text-align: center;
  margin-top: 100px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  background-color: rgb(241, 241, 241);
    transition: transform 0.4s;

}

.profile:hover {
  transition: transform 0.4s;
  transform: scale(1.05);
  cursor: pointer;
}
.stats {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-left: 0;
}
.item {
  display: block;
  width: 250px;
  font-size: 13px;
  text-align: center;
  background-color: lightgray;
  padding: 10px;
}
.label {
  display: block;
}

.location,
.tag,
.label {
  color: gray;
}
.quantity,
.name {
  font-weight: 700;
}

img {
  border-radius: 50%;
  padding: 10px;
}

img,
.profile,
.item {
  box-shadow: var(--shade);
}
